{% extends 'admin/admin.html.twig' %}

{% block title %}AdminFac index{% endblock %}

{% block body %}
   <div class="container my-2" style="font-family:'Microsoft Tai Le'">

<h1 class="mb-2" style="
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100%;">Admin Faculté </h1>
    <div class="card mb-2">
        <div class="card-body">
<br> 
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            
                <th>Nom</th>
                <th>Prenom</th>
                <th>NomFaculté</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_fac in admin_facs %}
            <tr>
                <td>{{ admin_fac.id }}</td>
                <td>{{ admin_fac.email }}</td>
               
                <td>{{ admin_fac.nom }}</td>
                <td>{{ admin_fac.prenom }}</td>
                <td>{{ admin_fac.nomFaculte }}</td>
                <td>{{ admin_fac.adresse }}</td>
                <td>
                    <a href="{{ path('app_admin_fac_show', {'id': admin_fac.id}) }}"class="btn btn-outline-info">Afficher</a>
                    <a href="{{ path('app_admin_fac_edit', {'id': admin_fac.id}) }}"class="btn btn-outline-success">Modifier</a>
                    <a href="{{ path('app_admin_fac_delete', {'id': admin_fac.id}) }}"class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br> <br> <br> <br> 
<div class="d-flex justify-content-center">
    <a href="{{ path('app_admin_fac_new') }}" class="btn btn-danger">Ajouter un nouveau AdminFac</a>
    </div>
{% endblock %}
