<style>
	.fixed-width-label {
		display: inline-block;
		width: 150px; /* Ajoutez une largeur appropriée */
	}
</style>

<div class="card align-items-center" style="font-family: 'Microsoft Tai Le'; width: 620px; height: auto;">
	<div class="card-body">

		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

		<div class="form-group row" style="margin-top: 20px">
			<label class="fixed-width-label">{{ form_label(form.Opportinute) }}</label>
			<div class="col-sm-10">
				{{ form_widget(form.Opportinute, {'attr': {'class': 'form-control'}}) }}
				<div style="color: red">
					{{ form_errors(form.Opportinute) }}
				</div>
			</div>
		</div>

		<div class="form-group row" style="margin-top: 20px">
			<label class="fixed-width-label">{{ form_label(form.EtudiantEsprit) }}</label>
			<div class="col-sm-10">
				{{ form_widget(form.EtudiantEsprit, {'attr': {'class': 'form-control'}}) }}
				<div style="color: red">
					{{ form_errors(form.EtudiantEsprit) }}
				</div>
			</div>
		</div>

		<div class="form-group row" style="margin-top: 20px">
			<label class="fixed-width-label">{{ form_label(form.resultat) }}</label>
			<div class="col-sm-10">
				{{ form_widget(form.resultat, {'attr': {'class': 'form-control'}}) }}
				<div style="color: red">
					{{ form_errors(form.resultat) }}
				</div>
			</div>
		</div>

		<br>

		<div class="d-flex justify-content-center">
			<button class="btn btn-outline-success mx-1" style="margin-bottom: 10px">{{ button_label|default('Ajouter') }}</button>

			<a href="{{ path('app_candidature_index') }}" class="btn btn-outline-danger mx-1" style="margin-bottom: 10px">Annuler</a>


			{{ form_end(form) }}
		</div>

	</div>
</div>
