{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des Candidats
{% endblock %}

{% block body %}
	<div class="container my-2" style="font-family:'Microsoft Tai Le'">

		<h1 class="mb-2" style="
			      display: flex;
			      flex-direction: column;
			      align-items: center;
			      min-height: 100%;">Liste des Candidats</h1>

		<div class="card mb-2">
			<div class="card-body">
				<br>
				<br>

<form method="GET" action="{{ path('search_candidatures') }}">
    <input type="text" name="faculteNom" placeholder="Nom de la faculté">
    <button type="submit">Rechercher</button>
</form>

<br>
<br>

				<table class="table table-sm">
					<thead>
						<tr>
							<th>Id</th>
							<th>Id Etudiant</th>
							<th>Nom Faculté</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for candidature in candidatures %}
							<tr>
								<td>{{ candidature.id }}</td>
								<td>{{ candidature.EtudiantEsprit.idEtudiant }}</td>
								<td>{{ candidature.Opportinute.NomFaculte }}</td>

								<td>
									<a href="{{ path('app_candidature_show', {'id': candidature.id}) }}" class="btn btn-outline-info">Afficher</a>
									<a href="{{ path('app_candidature_edit', {'id': candidature.id}) }}" class="btn btn-outline-success">Modifier</a>
									<a href="{{ path('app_candidature_delete', {'id': candidature.id}) }}" class="btn btn-outline-danger">Supprimer</a>


								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="2">Liste vide</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="d-flex justify-content-center">
					<a href="{{ path('app_candidature_new') }}" class="btn btn-danger">Créer un nouveau Candidat</a>

				</div>
			{% endblock %}

