{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des Candidats
{% endblock %}

{% block body %}
	<div class="container my-2" style="font-family:'Microsoft Tai Le'">

		<h1 class="mb-2" style="
			      display: flex;
			      flex-direction: column;
			      align-items: center;
			      min-height: 100%;">Liste des Candidats</h1>

		<div class="card mb-2">
			<div class="card-body">
				<br>
				<br>
	  {% if is_granted('ROLE_ADMIN_ESPRIT') %}
<form method="GET" action="{{ path('search_candidatures') }}">
    <input type="text" name="Titre" placeholder="Titre de l'opportunité">
    <button type="submit">Rechercher</button>
</form>
  {% endif %}
<br>
<br>

				<table class="table table-sm">
					<thead>
						<tr>
						
							<th>Id Etudiant</th>
							<th>Titre</th>
							<th>Résultat</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for candidature in candidatures %}
							<tr>
							
								<td>{{ candidature.EtudiantEsprit.idEtudiant }}</td>
								<td>{{ candidature.Opportinute.Titre }}</td>
								<td>{{ candidature.resultat }}</td>

								<td>
    {% if is_granted('ROLE_ADMIN_ESPRIT') %}
        <a href="{{ path('app_candidature_show', {'id': candidature.id}) }}" class="btn btn-outline-success btn-sm mr-2"><i class="bi bi-chat-left-text"></i></a>
        <a href="{{ path('app_candidature_edit', {'id': candidature.id}) }}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
        <a href="{{ path('app_candidature_delete', {'id': candidature.id}) }}" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidature.id) }}">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
    {% elseif is_granted('ROLE_ADMIN_FAC') %}
        <a href="{{ path('app_candidature_show', {'id': candidature.id}) }}"class="btn btn-outline-success btn-sm mr-2"><i class="bi bi-chat-left-text"></i></a>
    {% endif %}
</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="2">Liste vide</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				  {% if is_granted('ROLE_ADMIN_ESPRIT') %}
				<div class="d-flex justify-content-center">
					<a href="{{ path('app_candidature_new') }}" >  <i class="bi bi-person-fill-add" style="font-size: 55px;"></i></a>

				</div>
				  {% endif %}
			{% endblock %}

